.div-left {
  width: 30%;
  margin-left: 10px;
}

.div-right {
  width: 70%;
}

.div-left h1{
  font-size: 30px;
  font-weight: 700;
}

.div-right a:hover{
  cursor: pointer;
}

:host ::ng-deep .p-sidebar {
  width: 40vw !important;
}
