<p-sidebar [(visible)]="sidebarVisible" class="w-full">
  <h3 style="color: rgb(97, 178, 231) ;" class="font-semibold text-2xl">Login</h3>
  <div class="flex flex-column gap-2 w-10">
    <label style="color:  rgb(155, 221, 193);" class="font-semibold" htmlFor="username">Username*</label>
    <input required pInputText id="username" aria-describedby="username-help" [(ngModel)]="usernamel" />

  </div>
  <div class="flex flex-column gap-2 w-8 mt-2">
    <label style="color:  rgb(155, 221, 193);" class="font-semibold" htmlFor="password">Password* </label>
    <p-password [(ngModel)]="passwordl" [toggleMask]="true"></p-password>
  </div>
  <br>
  <p-button label="Ingresar" class="mt-5" styleClass="p-button-success" routerLink="/home"></p-button>
  <p-button class="ml-2" label="Cancelar" styleClass="p-button-danger" (click)="sidebarVisible = false"></p-button>
</p-sidebar>

<div class="div-main flex justify-content-around align-items-center">
  <div class="div-left">
    <img src="../../../../assets/images/pexels-roman-odintsov-4871012.jpg" alt="" class="wallpaper">
    <div class="front-paper flex">
      <div class="flex align-items-center justify-content-center flex-row container-paper">
        <div class=" min-container flex flex-column justify-content-center">
          <div class="flex flex-row align-items-center ju ">
            <i style="color: rgb(155, 221, 193) ;" class="bi bi-map big-icon"></i>
            <div class=" font-paper flex align-items-center justify-content-around">
              <h1>Life Travel</h1>
            </div>
          </div>
          <div class="icons flex justify-content-around align-items-center ">
            <div class="icon-circle flex align-items-center justify-content-center ">
              <div>
                <i class="bi bi-facebook iconf "></i>
              </div>
            </div>
            <div class="icon-circle flex align-items-center justify-content-center">
              <div>
                <i class="bi bi-twitter icont"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div-right flex align-items-center justify-content-center">
    <div class="form flex align-items-center justify-content-center">
      <div class="min-form ">

        <h1>Register</h1>
        <p>Ingrese sus credenciales para Registrarse : </p>
        <div class="flex flex-column gap-2 w-9">
          <label style="color:  rgb(155, 221, 193);" class="font-semibold" htmlFor="username">Username*</label>
          <input required pInputText id="username" aria-describedby="username-help" [(ngModel)]="usernamer" />
          <small id="username-help">Enter your username.</small>
        </div>
        <br>
        <div class="flex flex-column gap-2 ">
          <label style="color:  rgb(155, 221, 193);" class="font-semibold" htmlFor="password">Password* </label>
          <p-password [(ngModel)]="passwordr" [toggleMask]="true"></p-password>
          <small id="password-help">Enter your password.</small>
        </div>
        <div class=" flex mt-3 align-content-center ">
          <p-checkbox [(ngModel)]="remember" [binary]="true" inputId="binary"></p-checkbox>
          <h4 class="mb-0 ml-1 text-sm font-medium">Remember me</h4>
        </div>
        <br>
        <p-button>Registrarse</p-button>

        <p class="mt-3 text-sm">Ya te encuentras Registrado? <button (click)="sidebarVisible = true"
            style="background-color: rgb(111, 184, 184); border: none; " class="btn-rg">Inicia Sesion</button> </p>
      </div>
    </div>
  </div>

</div>
